<!doctype html>
<html ng-app='myApp'>
<head>
<script src="angular.js"></script>
</head>
<body>
	<!-- <div ng-controller='MyController'>
		<h1>Hello {{ clock }}</h1>
	</div> -->

	<!-- <div ng-controller="MyController">
		<input ng-model="expr" type="text" placeholder="Enter an expression">
		<h2>{{ parsedValue }}</h2>
	</div> -->

	<div ng-controller="MyController">
		<input type="email" ng-model="to" placeholder="Recipient">
		<textarea ng-model="emailBody"></textarea>
		<pre>{{ previewText }}</pre>
	</div>
	
	<script>
	/*function MyController($scope, $timeout) {
		var updateClock = function() {
			$scope.clock = new Date();
			$timeout(function() {
				updateClock();
			}, 1000);
		};
		updateClock();
	}*/

	/*function MyController($scope) {
		$scope.clock = {
			now: new Date()
		};
		var updateClock = function() {
			$scope.clock.now = new Date();
		};
		setInterval(function() {
			$scope.$apply(updateClock);
		});
		updateClock();
	}*/

	/*angular.module('myApp', [])
		   .controller('MyController', 
		   	function($scope,$parse) {
		   		$scope.$watch('expr', function(newVal, oldVal, scope) {
		   			if (newVal !== oldVal) {
		   				var parseFun = $parse(newVal);
		   				$scope.parsedValue = parseFun(scope);
		   			}
		   		})
		   	})*/

	angular.module('myApp',[])
		   .controller('MyController', function($scope, $interpolate) {
		   		$scope.$watch('emailBody', function(body) {
		   			if (body) {
		   				var template = $interpolate(body);
		   				$scope.previewText = template({to: $scope.to});
		   			}
		   		})
		   })
	</script>
</body>
</html>