html{
	font-size:100px;
}
body{
	font-size:.12rem;
}
.wrap{
	width: 9.60rem;
	margin:0 auto;
}
.header{
	width: 100%;
	height: 4.60rem;
	background: url(../img/top.jpg) no-repeat;
	background-size:100% 100%;
}
.content a:nth-of-type(2){
	margin-top:.21rem;
}
.top_txt{
	margin:.64rem auto 0;
	width: 7.38rem;
	font-size:.2rem;
	vertical-align:middle;
}
.top_txt span{
	color:#ed5313;
	vertical-align:middle;
}
.top_txt a{
	width: 1.08rem;
	height: .38rem;
	line-height: .38rem;
	text-align: center;
	font-size:.22rem;
	display: inline-block;
	background-color: #ed5410;
	color:white;
}
form{
	margin:.72rem auto 0;
	width: 3.6rem;
	text-align: center;
}
form input[type=text]{
	width: 3.52rem;
	height: .36rem;
	border:1px solid #c5c5c5;
	color:#c5c5c5;
	line-height: .36rem;
	text-indent: .12rem;
	letter-spacing: .04rem;
	font-size:.16rem;
	margin-bottom: .08rem;
}
form input[type=text]:nth-child(5){
	margin-bottom: 0;
}
form input[type=submit]{
	width: 2.11rem;
	height: .67rem;
	margin:.24rem auto 0;
	line-height: .67rem;
	text-align: center;
	color:white;
	border:none;
	background-color: #ed5410;
	font-size:.22rem;
}
.btn{
	/*padding-left: 1.93rem;*/
}
.btn>div{
	width: 5.72rem;
	margin:0 auto;
}
.btn a{
	display: inline-block;
	width: 2.80rem;
	height: .68rem;
	line-height: .68rem;
	text-align: center;
	color:white;
	font-size:.24rem;
}
form>a:nth-of-type(1){
	margin-top:.45rem;
}
.share{
	display: block;
	width: 3.58rem;
	height: .44rem;
	background-color: #f8f9d7;
	border:.01rem solid #edb055;
	line-height: .44rem;
	text-align: center;
	font-size:.21rem;
	color:#e99211;
	margin:0 auto;
}
.footer{
	height: 1.00rem;
	background: #e89316;
	margin-top:.29rem;
}
.footer div{
	color:white;
	text-align: center;
	font-size:.23rem;
	font-weight: bold;
}
.footer div:nth-of-type(1){
	padding-top:.24rem;
}
.footer div:nth-of-type(2){
	margin-top:.12rem;
}
@media screen and (max-width:640px){
	.wrap{
		width: 640px;
	}
	.top_txt{
		width: 5.04rem;
	}
}
@media screen and (max-width:320px){
	html{
		font-size:50px;
	}
	.wrap{
		width: 320px;
	}
}