body, h1, h2, h3, h4, p, dl, dd, ul, ol, form, input, textarea, th, td, select, div {
  margin: 0;
  padding: 0; }

em {
  font-style: normal; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none;
  vertical-align: top; }

table {
  border-collapse: collapse; }

input, textarea {
  outline: none; }

textarea {
  resize: none;
  overflow: auto; }

body {
  font-size: 12px;
  font-family: arial; }

.clear {
  zoom: 1; }

.clear:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

.fl {
  float: left; }

.fr {
  float: right; }

html {
  font-size: 100px; }

body {
  font-size: .12rem;
  background: white; }

.wrap {
  max-width: 9.6rem;
  min-width: 320px;
  margin: 0 auto; }

.header img {
  width: 100%; }

.header a {
  display: none; }

.header a:nth-child(1) {
  display: block; }

.top_txt {
  font-size: .3rem;
  text-indent: .6rem;
  width: 86.21%;
  margin: .54rem auto 0; }
  .top_txt span {
    color: #e85416; }

.btn {
  padding-top: 1.02rem;
  width: 5.72rem;
  margin: 0 auto; }
  .btn a {
    display: inline-block;
    width: 2.80rem;
    height: .68rem;
    line-height: .68rem;
    text-align: center;
    color: white;
    font-size: .24rem; }
  .btn a:nth-of-type(1) {
    background-color: #e89316;
    margin-right: .08rem; }
    @media screen and (max-width: 550px) {
      .btn a:nth-of-type(1) {
        margin-right: .04rem; } }
  .btn a:nth-of-type(2) {
    background-color: #ec5510; }

.mid_txt {
  margin-top: 1.02rem;
  /*padding-left: 2.87rem;*/ }
  .mid_txt div {
    width: 4.2rem;
    height: .43rem;
    line-height: .43rem;
    vertical-align: top;
    font-size: .19rem;
    border-bottom: .02rem solid #fee097;
    margin: 0 auto;
    text-align: center; }

form {
  margin: 0 auto;
  width: 3.62rem; }
  form input[type=text] {
    width: 3.58rem;
    height: .45rem;
    min-height: 22px;
    min-width: 179px;
    outline: none;
    border: .01rem solid #d0d5e8;
    font-size: .21rem;
    color: #d0d5e8;
    line-height: .45rem;
    text-indent: .10rem;
    margin-top: .18rem;
    background-color: #f9fafe; }
    form input[type=text]:nth-of-type(3) {
      min-width: 121px;
      width: 2.42rem; }
  form input[type=button] {
    width: 1.08rem;
    height: .47rem;
    background-color: #f9fafe;
    border: .01rem solid #d0d5e8;
    color: #fdb32e;
    line-height: .45rem;
    text-align: center;
    font-size: .18rem;
    margin-top: .18rem;
    vertical-align: bottom; }
  form input[type=submit] {
    width: 1.28rem;
    height: 100%;
    background-color: #ed5410;
    font-size: .26rem;
    line-height: .44rem;
    text-align: center;
    float: right;
    border: none;
    color: white; }
  form > div {
    margin-top: .16rem; }
    form > div .txt {
      width: 2.20rem;
      display: inline-block;
      float: left;
      vertical-align: top; }
      form > div .txt div {
        text-align: right;
        font-size: .18rem;
        color: #616161;
        line-height: .22rem; }
      form > div .txt span {
        color: red; }
  form > a {
    display: inline-block;
    width: 3.58rem;
    height: .44rem;
    background-color: #f8f9d7;
    border: .01rem solid #edb055;
    line-height: .44rem;
    text-align: center;
    margin-top: .22rem;
    font-size: .21rem;
    color: #e99211; }

.share_suc_tip {
  height: 3.74rem;
  line-height: 3.74rem;
  text-align: center;
  vertical-align: middle;
  font-size: .3rem;
  color: #ed763e;
  margin: 0 auto; }

.share_suc_content a:nth-of-type(2) {
  margin-top: .21rem; }

.share_suc_share {
  display: block;
  width: 3.58rem;
  height: .44rem;
  background-color: #f8f9d7;
  border: .01rem solid #edb055;
  line-height: .44rem;
  text-align: center;
  font-size: .21rem;
  color: #e99211;
  margin: 0 auto; }

.registerd_h1 {
  margin-top: .91rem;
  text-align: center;
  font-size: .26rem;
  color: #ee5310; }

.registerd_txt {
  width: 79.58%;
  font-size: .27rem;
  text-indent: .54rem;
  margin: .29rem auto 1.31rem;
  line-height: .48rem; }

.registerd_txt span {
  color: #ea5415; }

.registerd_suc_h1 {
  margin-top: .96rem;
  text-align: center;
  font-size: .27rem;
  color: #ed5410; }

.registerd_suc1 {
  margin-top: .14rem;
  font-size: .2rem;
  text-align: center; }

.registerd_suc2 {
  margin-top: .17rem;
  font-size: .2rem;
  text-align: center; }

.registerd_suc3 {
  margin: .5rem auto .8rem;
  font-size: .23rem;
  width: 77.29%; }

.friend_share_content a:nth-of-type(2) {
  margin-top: .21rem; }

.friend_share_top_txt {
  margin: .64rem auto 0;
  width: 86.21%;
  font-size: .2rem;
  vertical-align: middle; }
  .friend_share_top_txt span {
    color: #ed5313;
    vertical-align: middle; }
  .friend_share_top_txt a {
    width: 1.08rem;
    height: .38rem;
    line-height: .38rem;
    text-align: center;
    font-size: .22rem;
    display: inline-block;
    background-color: #ed5410;
    color: white; }

#friend_share_form {
  margin: .72rem auto 0;
  width: 3.6rem;
  text-align: center; }
  #friend_share_form input[type=text] {
    width: 3.52rem;
    height: .36rem;
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
    line-height: .36rem;
    text-indent: .12rem;
    letter-spacing: .04rem;
    font-size: .16rem;
    margin-bottom: .08rem; }
    #friend_share_form input[type=text]:nth-child(5) {
      margin-bottom: 0; }
  #friend_share_form input[type=submit] {
    width: 2.11rem;
    height: .67rem;
    margin: .24rem auto 0;
    line-height: .67rem;
    text-align: center;
    color: white;
    border: none;
    background-color: #ed5410;
    font-size: .22rem;
    float: none; }
  #friend_share_form > a:nth-of-type(1) {
    margin-top: .45rem; }

.friend_share_share {
  display: block;
  width: 3.58rem;
  height: .44rem;
  background-color: #f8f9d7;
  border: .01rem solid #edb055;
  line-height: .44rem;
  text-align: center;
  font-size: .21rem;
  color: #e99211;
  margin: 0 auto; }

.active_detail_content {
  margin: 0 auto; }
  .active_detail_content .txt {
    width: 80%;
    margin: 0 auto; }
  .active_detail_content h1 {
    font-size: .36rem;
    text-align: center;
    color: #ed5411;
    width: 1.6rem;
    margin: .61rem auto 0; }
  .active_detail_content h2 {
    color: #ed5411;
    font-size: .2rem;
    margin-top: .23rem; }
  .active_detail_content .btn {
    padding-top: .39rem; }
  .active_detail_content .share_suc_share {
    margin-top: .43rem; }
  .active_detail_content ul ul li {
    font-size: .2rem;
    margin-top: .1rem; }
  .active_detail_content span {
    margin-right: .2rem; }

.first_orange {
  margin-top: .4rem; }

.second_orange {
  margin-top: .11rem; }

.orange {
  color: #e95412;
  font-size: .2rem;
  padding-left: .44rem; }

.bottom_txt {
  margin: .15rem auto 0;
  border: 3px solid #e95412;
  color: #e95412;
  font-size: .2rem;
  height: 1.08rem;
  line-height: 1.08rem;
  width: 83.54%; }
  .bottom_txt div {
    line-height: .29rem;
    padding-left: .07rem;
    display: inline-block;
    vertical-align: middle; }

.footer {
  height: 1.00rem;
  background: #e89316;
  margin-top: .29rem; }

.footer div {
  color: white;
  text-align: center;
  font-size: .23rem;
  line-height: .34rem;
  font-weight: bold; }

.footer div:nth-of-type(1) {
  padding-top: .22rem; }

@media screen and (max-width: 640px) {
  .header a:nth-child(1) {
    display: none; }
  .header a:nth-child(2) {
    display: block; }
  .top_txt {
    margin-top: .56rem; } }

/*@for $i from 630 to 320 {
  @if $i % 10 == 0 {
    @include max-screen($i + px){
        //$j:(640-$i)/10 + 1;
        $j:(640-$i)/10 * 2;
        @if $j < 50 {
          html{
          font-size:100px - $j;
        }
        @if $i == 550 {
          .btn a:nth-of-type(1) {
            margin-right:.04rem;
          }
        }
      }
    }
  }
}
*/
@media screen and (max-width: 630px) {
  html {
    font-size: 98.3px; } }

@media screen and (max-width: 624px) {
  html {
    font-size: 97.28px; } }

@media screen and (max-width: 618px) {
  html {
    font-size: 96.26px; } }

@media screen and (max-width: 612px) {
  html {
    font-size: 95.24px; } }

@media screen and (max-width: 606px) {
  html {
    font-size: 94.22px; } }

@media screen and (max-width: 600px) {
  html {
    font-size: 93.2px; } }

@media screen and (max-width: 594px) {
  html {
    font-size: 92.18px; } }

@media screen and (max-width: 588px) {
  html {
    font-size: 91.16px; } }

@media screen and (max-width: 582px) {
  html {
    font-size: 90.14px; } }

@media screen and (max-width: 576px) {
  html {
    font-size: 89.12px; } }

@media screen and (max-width: 570px) {
  html {
    font-size: 88.1px; } }

@media screen and (max-width: 564px) {
  html {
    font-size: 87.08px; } }

@media screen and (max-width: 558px) {
  html {
    font-size: 86.06px; } }

@media screen and (max-width: 552px) {
  html {
    font-size: 85.04px; } }

@media screen and (max-width: 546px) {
  html {
    font-size: 84.02px; } }

@media screen and (max-width: 540px) {
  html {
    font-size: 83px; } }

@media screen and (max-width: 534px) {
  html {
    font-size: 81.98px; } }

@media screen and (max-width: 528px) {
  html {
    font-size: 80.96px; } }

@media screen and (max-width: 522px) {
  html {
    font-size: 79.94px; } }

@media screen and (max-width: 516px) {
  html {
    font-size: 78.92px; } }

@media screen and (max-width: 510px) {
  html {
    font-size: 77.9px; } }

@media screen and (max-width: 504px) {
  html {
    font-size: 76.88px; } }

@media screen and (max-width: 498px) {
  html {
    font-size: 75.86px; } }

@media screen and (max-width: 492px) {
  html {
    font-size: 74.84px; } }

@media screen and (max-width: 486px) {
  html {
    font-size: 73.82px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 72.8px; } }

@media screen and (max-width: 474px) {
  html {
    font-size: 71.78px; } }

@media screen and (max-width: 468px) {
  html {
    font-size: 70.76px; } }

@media screen and (max-width: 462px) {
  html {
    font-size: 69.74px; } }

@media screen and (max-width: 456px) {
  html {
    font-size: 68.72px; } }

@media screen and (max-width: 450px) {
  html {
    font-size: 67.7px; } }

@media screen and (max-width: 444px) {
  html {
    font-size: 66.68px; } }

@media screen and (max-width: 438px) {
  html {
    font-size: 65.66px; } }

@media screen and (max-width: 432px) {
  html {
    font-size: 64.64px; } }

@media screen and (max-width: 426px) {
  html {
    font-size: 63.62px; } }

@media screen and (max-width: 420px) {
  html {
    font-size: 62.6px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 61.58px; } }

@media screen and (max-width: 408px) {
  html {
    font-size: 60.56px; } }

@media screen and (max-width: 402px) {
  html {
    font-size: 59.54px; } }

@media screen and (max-width: 396px) {
  html {
    font-size: 58.52px; } }

@media screen and (max-width: 390px) {
  html {
    font-size: 57.5px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 56.48px; } }

@media screen and (max-width: 378px) {
  html {
    font-size: 55.46px; } }

@media screen and (max-width: 372px) {
  html {
    font-size: 54.44px; } }

@media screen and (max-width: 366px) {
  html {
    font-size: 53.42px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 52.4px; } }

@media screen and (max-width: 354px) {
  html {
    font-size: 51.38px; } }

@media screen and (max-width: 348px) {
  html {
    font-size: 50.36px; } }

@media only screen and (max-width: 320px) {
  html {
    font-size: 50px; } }
