html{
	font-size:100px;
}
body{
	font-size: 12px;
	font-size:.12rem;
}
.wrap{
	height: 7.56rem;
	background: url(../img/bg_1.jpg) no-repeat;
	background-size:100% 100%;
	position:relative;
}
.weather{
	width: 2.11rem;
	height: 1.03rem;
	/*width: 14.65%;
	height: 13.62%;*/
	position:absolute;
	/*top:.4rem;
	right:.3rem;*/
	top:5.291%;
	right:2.083%;
}
.weather>div{
	display: inline-block;
	width: 49%;
	color:white;
}
.weather>div:first-child{
	text-align:right;
	font-size:40px;
	font-size:.4rem;
}
.weather>div:nth-child(2){
	margin-bottom: .14rem;
}
.weather>div:nth-child(2) div{
	width: .51rem;
	height: .36rem;
	background: url(../img/weather.png) no-repeat;
	background-size:100% 100%;
	line-height: 1.03rem;
}
.weather>div:nth-child(2n){
	text-align: right;
}
.weather>div:nth-child(3){
	margin-bottom: .07rem;
}
.weather>div:nth-child(5){
	margin-bottom: .14rem;
}
.weather>ul li{
	float:left;
	margin-right: .11rem;
	color:#898989;
}
.weather>ul li:last-child{
	margin-right: 0;
}
.weather>ul li:nth-child(3){
	color:white;
}
.title{
	position: absolute;
	/*top:1.26rem;
	left:2rem;*/
	left:13.9%;
	top:16.7%;
}
.title>div:first-child{
	width: .91rem;
	height: .48rem;
	background: url(../img/logo.png) no-repeat;
	background-size:100% 100%;
	margin-right: .11rem;
}
.title>div:last-child{
	/*height: .48rem;*/
	font-size: 30px;
	font-size: .3rem;
	color:white;
	padding-top:.18rem;
}
.content{
	width: 8.6rem;
	width:9rem;\9
	height: 4.23rem;
	/*height: 55.95%;
	width: 59.72%;*/
	position: absolute;
	/*top:1.87rem;*/
	top:24.74%;
	left:0;
	right:0;
	margin:auto;
	color:white;
}
.content .line_1 .first{
	background-color: #f2b701;
}
.content .line_2 .first{
	background-color: #eb6100;
}
.content .line_3 .first{
	background-color: #e60012;
}
.content .line_1 .last{
	background-color: #00b7ee;
}
.content .line_2 .last{
	background-color: #0068b7;
}
.content .line_3 .last{
	background-color: #00479d;
}
.content .line_1 .m_left{
	background-color: #e4007f;
}
.content .line_1 .m_right{
	background-color: #920783;
}
.content .line_2 .m_left{
	background-color: #e4007f;
}
.content .line_2 .m_right{
	background-color: #601986;
}
.content .line_3 .m_left{
	background-color: #a40000;
}
.content .line_3 .m_right{
	background-color: #009e96;
}
.line_1,.line_2,.line_3{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
    float:left;\9
}
.content .line_1,.content .line_2{
	margin-bottom: .02rem;
}
.content .first{
	margin-right: .14rem;
	position: relative;
}
.content .box_con{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	width: 2.2rem;
	height: .56rem;
}
.content .first,.content .last{
	-webkit-box-flex:2;
	width: 2.78rem;
	height: 1.4rem;
	opacity: 0.7;
	background: red;
}
.content .middle{
	-webkit-box-flex:1;
	margin-right: .02rem;
	width: 1.63rem;
	height: 1.4rem;
	opacity: 0.7;
	background: red;
}
.first_first{
	margin-right: .15rem;
}
.line_1 h1{
	padding-top: .03rem;
} 
.content .first h1{
	padding-top:.09rem;
	margin-bottom: .06rem;
	font-size: .22rem;
}
.content .line_1 h1{
	padding-top: .03rem;
} 
.content .line_3 h1{
	padding-top:0;
}
.content .img_mar{
	margin-right: .22rem;
}
.middle {
	position: relative;
}
.middle .con{
	height: 1.06rem;
	padding-right: .23rem;
	position: absolute;
	top:0;
	bottom:0;
	margin:auto;
}
.middle .con h2{
	clear:both;
	margin-top:.07rem;
	margin-bottom: .06rem;
	font-size: .2rem;
}
.middle h3{
	clear:both;
	font-size:.18rem;
}
.middle .right_2{
	height: .93rem;
}
.middle .middle_r_b{
	height: .46rem;
}
.middle .middle_r_b .pic{
	padding-left: .05rem;
	height: .48rem;
}
.middle .middle_r_b .travel{
	padding-top:.07rem;
}
.middle .middle_r_b h3{
	clear:none;
}
.last .top{
	padding:.34rem 0 0 .42rem;
}
.last .top .pic{
	height: .46rem;
	margin-right: .17rem;
}
.last .top h1{
	font-size:.3rem;
}
.last .bottom{
	text-align: center;
	margin-top:.19rem;
}
.line_3 .last .con{
	padding:.32rem 0 0 .34rem;
}
.line_3 .last .con .pic{
	width: .8rem;
	height: .78rem;
	margin-right: .2rem;
}
.line_3 .last .con h1{
	font-size:.3rem;
}
.footer{
	position: absolute;
	width: 4.68rem;
	left:0;
	right:0;
	bottom:.18rem;
	margin:auto;
}
.line_1>div,.line_2>div,.line_3>div{
	float:left;\9
}

@media screen and (max-width:640px){
	.wrap{
		height: 1284px;
	}
	.content{
		/*width: 457px;*/
		width: 457px;
		height: 896px;
	}
	.line_1,.line_2,.line_3{
		display: block;
	}
	.line_1>div,.line_2>div,.line_3>div{
		float:left;
		margin-bottom: 2px;
	}
	.content .line_1,.content .line_2{
		margin-bottom: 0;
	}
	.content .line_1 .m_right{
		float:right;
	}
	.content .line_3 .first{
		float:right;
	}
	.content .first{
		margin-right: 8px;
	}
	.content .middle{
		margin-right: 8px;
	}
}